In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib
print("pd:",pd.__version__)
print("numpy:",np.__version__)
print("plt:",matplotlib.__version__)
from scipy import stats
import math

pd: 0.25.3
numpy: 1.17.4
plt: 3.1.2

In [2]:
dt = pd.read_csv("population_total.csv")
print(dt)

                  country   1799   1800   1801   1802   1803   1804   1805  \
0             Afghanistan  3.28M  3.28M  3.28M  3.28M  3.28M  3.28M  3.28M
1                  Angola  1.57M  1.57M  1.57M  1.57M  1.57M  1.57M  1.57M
2                 Albania   400k   402k   404k   405k   407k   409k   411k
3                 Andorra   2650   2650   2650   2650   2650   2650   2650
4    United Arab Emirates  40.2k  40.2k  40.2k  40.2k  40.2k  40.2k  40.2k
..                    ...    ...    ...    ...    ...    ...    ...    ...
192                 Samoa  47.3k  47.3k  47.3k  47.3k  47.3k  47.3k  47.3k
193                 Yemen  2.59M  2.59M  2.59M  2.59M  2.59M  2.59M  2.59M
194          South Africa  1.45M  1.45M  1.46M  1.46M  1.47M  1.47M  1.48M
195                Zambia   747k   758k   770k   782k   794k   806k   818k
196              Zimbabwe  1.09M  1.09M  1.09M  1.09M  1.09M  1.09M  1.09M

      1806   1807  ...   2090   2091   2092   2093   2094   2095   2096  \
0    3.28M  3.28M  ...  76.6M  76.4M  76.3M  76.1M    76M  75.8M  75.6M
1    1.57M  1.57M  ...   168M   170M   172M   175M   177M   179M   182M
2     413k   414k  ...  1.33M   1.3M  1.27M  1.25M  1.22M  1.19M  1.17M
3     2650   2650  ...    63k  62.9k  62.9k  62.8k  62.7k  62.7k  62.6k
4    40.2k  40.2k  ...  12.3M  12.4M  12.5M  12.5M  12.6M  12.7M  12.7M
..     ...    ...  ...    ...    ...    ...    ...    ...    ...    ...
192  47.2k  47.2k  ...   315k   314k   314k   314k   313k   313k   312k
193  2.59M  2.59M  ...  54.5M  54.4M  54.3M  54.1M    54M  53.8M  53.7M
194  1.49M  1.49M  ...  79.8M  79.8M  79.7M  79.7M  79.6M  79.5M  79.5M
195   831k   843k  ...  74.4M  75.2M    76M  76.8M  77.6M  78.4M  79.2M
196  1.09M  1.09M  ...  30.8M  30.9M  30.9M  30.9M  30.9M  30.9M    31M

      2097   2098   2099
0    75.4M  75.2M  74.9M
1     184M   186M   188M
2    1.14M  1.11M  1.09M
3    62.5k  62.5k  62.4k
4    12.8M  12.8M  12.9M
..     ...    ...    ...
192   312k   311k   310k
193  53.5M  53.4M  53.2M
194  79.4M  79.3M  79.2M
195    80M  80.8M  81.5M
196    31M    31M    31M

[197 rows x 302 columns]