In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib
print("pd:",pd.__version__)
print("numpy:",np.__version__)
print("plt:",matplotlib.__version__)
from scipy import stats
import math

pd: 0.25.3
numpy: 1.17.4
plt: 3.1.2

In [26]:
dt = pd.read_csv("population_total.csv")
for x in dt.iterrows():
    print(x[0],x[1])

0 country    Afghanistan
1799             3.28M
1800             3.28M
1801             3.28M
1802             3.28M
              ...
2095             75.8M
2096             75.6M
2097             75.4M
2098             75.2M
2099             74.9M
Name: 0, Length: 302, dtype: object
1 country    Angola
1799        1.57M
1800        1.57M
1801        1.57M
1802        1.57M
            ...
2095         179M
2096         182M
2097         184M
2098         186M
2099         188M
Name: 1, Length: 302, dtype: object
2 country    Albania
1799          400k
1800          402k
1801          404k
1802          405k
            ...
2095         1.19M
2096         1.17M
2097         1.14M
2098         1.11M
2099         1.09M
Name: 2, Length: 302, dtype: object
3 country    Andorra
1799          2650
1800          2650
1801          2650
1802          2650
            ...
2095         62.7k
2096         62.6k
2097         62.5k
2098         62.5k
2099         62.4k
Name: 3, Length: 302, dtype: object
4 country    United Arab Emirates
1799                      40.2k
1800                      40.2k
1801                      40.2k
1802                      40.2k
                   ...
2095                      12.7M
2096                      12.7M
2097                      12.8M
2098                      12.8M
2099                      12.9M
Name: 4, Length: 302, dtype: object
5 country    Argentina
1799            534k
1800            520k
1801            506k
1802            492k
             ...
2095           57.2M
2096           57.1M
2097             57M
2098           56.9M
2099           56.8M
Name: 5, Length: 302, dtype: object
6 country    Armenia
1799          413k
1800          413k
1801          413k
1802          413k
            ...
2095          2.1M
2096         2.09M
2097         2.07M
2098         2.05M
2099         2.04M
Name: 6, Length: 302, dtype: object
7 country    Antigua and Barbuda
1799                       37k
1800                       37k
1801                       37k
1802                       37k
                  ...
2095                      103k
2096                      103k
2097                      103k
2098                      102k
2099                      102k
Name: 7, Length: 302, dtype: object
8 country    Australia
1799            200k
1800            205k
1801            211k
1802            216k
             ...
2095           42.1M
2096           42.3M
2097           42.5M
2098           42.7M
2099           42.9M
Name: 8, Length: 302, dtype: object
9 country    Austria
1799            3M
1800         3.02M
1801         3.04M
1802         3.05M
            ...
2095         8.66M
2096         8.66M
2097         8.67M
2098         8.67M
2099         8.68M
Name: 9, Length: 302, dtype: object
10 country    Azerbaijan
1799             880k
1800             880k
1801             880k
1802             880k
              ...
2095            9.36M
2096            9.32M
2097            9.28M
2098            9.24M
2099            9.19M
Name: 10, Length: 302, dtype: object
11 country    Burundi
1799          899k
1800          899k
1801          899k
1802          899k
            ...
2095         49.2M
2096         49.6M
2097         50.1M
2098         50.5M
2099         50.9M
Name: 11, Length: 302, dtype: object
12 country    Belgium
1799         3.25M
1800         3.26M
1801         3.27M
1802         3.28M
            ...
2095         12.5M
2096         12.5M
2097         12.5M
2098         12.5M
2099         12.5M
Name: 12, Length: 302, dtype: object
13 country    Benin
1799        637k
1800        637k
1801        637k
1802        637k
           ...
2095       45.7M
2096       46.1M
2097       46.4M
2098       46.8M
2099       47.2M
Name: 13, Length: 302, dtype: object
14 country    Burkina Faso
1799              1.67M
1800              1.67M
1801              1.67M
1802              1.67M
               ...
2095              80.8M
2096              81.4M
2097                82M
2098              82.6M
2099              83.2M
Name: 14, Length: 302, dtype: object
15 country    Bangladesh
1799            19.2M
1800            19.2M
1801            19.3M
1802            19.3M
              ...
2095             157M
2096             155M
2097             154M
2098             153M
2099             151M
Name: 15, Length: 302, dtype: object
16 country    Bulgaria
1799          2.25M
1800          2.25M
1801          2.24M
1802          2.24M
             ...
2095          3.69M
2096          3.67M
2097          3.64M
2098          3.62M
2099          3.59M
Name: 16, Length: 302, dtype: object
17 country    Bahrain
1799         64.5k
1800         64.5k
1801         64.5k
1802         64.5k
            ...
2095         2.29M
2096         2.28M
2097         2.27M
2098         2.26M
2099         2.25M
Name: 17, Length: 302, dtype: object
18 country    Bahamas
1799         27.4k
1800         27.4k
1801         27.4k
1802         27.4k
            ...
2095          462k
2096          461k
2097          461k
2098          460k
2099          460k
Name: 18, Length: 302, dtype: object
19 country    Bosnia and Herzegovina
1799                         852k
1800                         852k
1801                         852k
1802                         852k
                    ...
2095                         1.7M
2096                        1.69M
2097                        1.67M
2098                        1.66M
2099                        1.64M
Name: 19, Length: 302, dtype: object
20 country    Belarus
1799         2.36M
1800         2.36M
1801         2.36M
1802         2.36M
            ...
2095         7.49M
2096         7.48M
2097         7.46M
2098         7.45M
2099         7.43M
Name: 20, Length: 302, dtype: object
21 country    Belize
1799        25.5k
1800        25.5k
1801        25.5k
1802        25.5k
            ...
2095         624k
2096         623k
2097         622k
2098         621k
2099         620k
Name: 21, Length: 302, dtype: object
22 country    Bolivia
1799          887k
1800          897k
1801          906k
1802          916k
            ...
2095         17.5M
2096         17.5M
2097         17.5M
2098         17.4M
2099         17.4M
Name: 22, Length: 302, dtype: object
23 country    Brazil
1799         2.5M
1800        2.57M
1801        2.65M
1802        2.73M
            ...
2095         185M
2096         184M
2097         183M
2098         182M
2099         181M
Name: 23, Length: 302, dtype: object
24 country    Barbados
1799          81.7k
1800          81.7k
1801          81.7k
1802          81.7k
             ...
2095           220k
2096           218k
2097           217k
2098           216k
2099           215k
Name: 24, Length: 302, dtype: object
25 country    Brunei
1799         2260
1800         2260
1801         2260
1802         2260
            ...
2095         399k
2096         397k
2097         395k
2098         392k
2099         390k
Name: 25, Length: 302, dtype: object
26 country    Bhutan
1799         392k
1800         392k
1801         392k
1802         392k
            ...
2095         712k
2096         706k
2097         699k
2098         693k
2099         686k
Name: 26, Length: 302, dtype: object
27 country    Botswana
1799           121k
1800           121k
1801           120k
1802           120k
             ...
2095          4.16M
2096          4.16M
2097          4.17M
2098          4.17M
2099          4.17M
Name: 27, Length: 302, dtype: object
28 country    Central African Republic
1799                           479k
1800                           479k
1801                           479k
1802                           479k
                     ...
2095                          11.6M
2096                          11.6M
2097                          11.6M
2098                          11.6M
2099                          11.6M
Name: 28, Length: 302, dtype: object
29 country    Canada
1799         500k
1800         512k
1801         525k
1802         538k
            ...
2095          56M
2096        56.2M
2097        56.4M
2098        56.7M
2099          57M
Name: 29, Length: 302, dtype: object
30 country    Switzerland
1799             1.75M
1800             1.76M
1801             1.77M
1802             1.78M
              ...
2095             10.9M
2096             10.9M
2097               11M
2098               11M
2099               11M
Name: 30, Length: 302, dtype: object
31 country    Chile
1799        771k
1800        771k
1801        771k
1802        771k
           ...
2095       17.6M
2096       17.5M
2097       17.5M
2098       17.4M
2099       17.3M
Name: 31, Length: 302, dtype: object
32 country    China
1799        330M
1800        332M
1801        333M
1802        335M
           ...
2095       1.09B
2096       1.08B
2097       1.08B
2098       1.07B
2099       1.06B
Name: 32, Length: 302, dtype: object
33 country    Cote d'Ivoire
1799               1.09M
1800               1.09M
1801               1.09M
1802               1.09M
               ...
2095               93.7M
2096               94.4M
2097               95.2M
2098               95.9M
2099               96.6M
Name: 33, Length: 302, dtype: object
34 country    Cameroon
1799          1.86M
1800          1.86M
1801          1.86M
1802          1.86M
             ...
2095          87.8M
2096          88.4M
2097            89M
2098          89.6M
2099          90.2M
Name: 34, Length: 302, dtype: object
35 country    Congo, Dem. Rep.
1799                  5.16M
1800                  5.16M
1801                  5.16M
1802                  5.16M
                 ...
2095                   353M
2096                   356M
2097                   358M
2098                   360M
2099                   362M
Name: 35, Length: 302, dtype: object
36 country    Congo, Rep.
1799              314k
1800              314k
1801              314k
1802              314k
              ...
2095             20.2M
2096             20.4M
2097             20.6M
2098             20.8M
2099               21M
Name: 36, Length: 302, dtype: object
37 country    Colombia
1799          1.21M
1800          1.21M
1801          1.21M
1802          1.21M
             ...
2095          46.4M
2096          46.1M
2097          45.8M
2098          45.5M
2099          45.2M
Name: 37, Length: 302, dtype: object
38 country    Comoros
1799         56.3k
1800         56.3k
1801         56.3k
1802         56.3k
            ...
2095         2.16M
2096         2.17M
2097         2.17M
2098         2.18M
2099         2.19M
Name: 38, Length: 302, dtype: object
39 country    Cape Verde
1799            55.7k
1800            55.7k
1801            55.7k
1802            55.7k
              ...
2095             616k
2096             613k
2097             610k
2098             607k
2099             604k
Name: 39, Length: 302, dtype: object
40 country    Costa Rica
1799              53k
1800            53.5k
1801            53.9k
1802            54.4k
              ...
2095             4.9M
2096            4.87M
2097            4.85M
2098            4.82M
2099             4.8M
Name: 40, Length: 302, dtype: object
41 country     Cuba
1799        272k
1800        293k
1801        316k
1802        340k
           ...
2095        6.9M
2096       6.84M
2097       6.78M
2098       6.73M
2099       6.67M
Name: 41, Length: 302, dtype: object
42 country    Cyprus
1799         184k
1800         184k
1801         184k
1802         184k
            ...
2095        1.31M
2096        1.31M
2097        1.31M
2098        1.31M
2099        1.31M
Name: 42, Length: 302, dtype: object
43 country    Czech Republic
1799                5.52M
1800                5.52M
1801                5.52M
1802                5.52M
                ...
2095                10.2M
2096                10.2M
2097                10.3M
2098                10.3M
2099                10.3M
Name: 43, Length: 302, dtype: object
44 country    Germany
1799           18M
1800         18.3M
1801         18.6M
1802         18.9M
            ...
2095         74.7M
2096         74.7M
2097         74.7M
2098         74.7M
2099         74.7M
Name: 44, Length: 302, dtype: object
45 country    Djibouti
1799          22.8k
1800          22.8k
1801          22.8k
1802          22.8k
             ...
2095          1.34M
2096          1.34M
2097          1.34M
2098          1.33M
2099          1.33M
Name: 45, Length: 302, dtype: object
46 country    Dominica
1799          19.9k
1800          19.9k
1801          19.9k
1802          19.9k
             ...
2095          52.9k
2096          52.5k
2097          52.1k
2098          51.7k
2099          51.3k
Name: 46, Length: 302, dtype: object
47 country    Denmark
1799            1M
1800         1.01M
1801         1.01M
1802         1.02M
            ...
2095         6.82M
2096         6.83M
2097         6.85M
2098         6.86M
2099         6.87M
Name: 47, Length: 302, dtype: object
48 country    Dominican Republic
1799                     150k
1800                     146k
1801                     142k
1802                     139k
                  ...
2095                    11.3M
2096                    11.2M
2097                    11.2M
2098                    11.1M
2099                      11M
Name: 48, Length: 302, dtype: object
49 country    Algeria
1799          2.5M
1800         2.51M
1801         2.52M
1802         2.53M
            ...
2095         70.7M
2096         70.7M
2097         70.7M
2098         70.7M
2099         70.7M
Name: 49, Length: 302, dtype: object
50 country    Ecuador
1799          500k
1800          500k
1801          500k
1802          500k
            ...
2095         24.7M
2096         24.7M
2097         24.6M
2098         24.5M
2099         24.5M
Name: 50, Length: 302, dtype: object
51 country    Egypt
1799        3.5M
1800       3.53M
1801       3.56M
1802        3.6M
           ...
2095        222M
2096        223M
2097        224M
2098        224M
2099        225M
Name: 51, Length: 302, dtype: object
52 country    Eritrea
1799          205k
1800          205k
1801          205k
1802          205k
            ...
2095         8.95M
2096         8.98M
2097         9.01M
2098         9.04M
2099         9.06M
Name: 52, Length: 302, dtype: object
53 country    Spain
1799       11.5M
1800       11.5M
1801       11.6M
1802       11.6M
           ...
2095       33.7M
2096       33.6M
2097       33.5M
2098       33.3M
2099       33.2M
Name: 53, Length: 302, dtype: object
54 country    Estonia
1799          334k
1800          334k
1801          334k
1802          334k
            ...
2095          857k
2096          853k
2097          848k
2098          843k
2099          838k
Name: 54, Length: 302, dtype: object
55 country    Ethiopia
1799            12M
1800            12M
1801            12M
1802            12M
             ...
2095           292M
2096           293M
2097           293M
2098           294M
2099           294M
Name: 55, Length: 302, dtype: object
56 country    Finland
1799          800k
1800          815k
1801          831k
1802          847k
            ...
2095         5.27M
2096         5.26M
2097         5.26M
2098         5.26M
2099         5.25M
Name: 56, Length: 302, dtype: object
57 country     Fiji
1799        131k
1800        131k
1801        131k
1802        131k
           ...
2095       1.08M
2096       1.08M
2097       1.07M
2098       1.07M
2099       1.07M
Name: 57, Length: 302, dtype: object
58 country    France
1799          29M
1800        29.1M
1801        29.2M
1802        29.3M
            ...
2095        65.7M
2096        65.6M
2097        65.6M
2098        65.6M
2099        65.5M
Name: 58, Length: 302, dtype: object
59 country    Micronesia, Fed. Sts.
1799                       16.4k
1800                       16.4k
1801                       16.4k
1802                       16.4k
                   ...
2095                        119k
2096                        118k
2097                        117k
2098                        116k
2099                        115k
Name: 59, Length: 302, dtype: object
60 country    Gabon
1799        158k
1800        158k
1801        158k
1802        158k
           ...
2095       5.76M
2096       5.78M
2097       5.81M
2098       5.84M
2099       5.86M
Name: 60, Length: 302, dtype: object
61 country    United Kingdom
1799                10.8M
1800                10.9M
1801                  11M
1802                11.1M
                ...
2095                77.7M
2096                77.8M
2097                77.9M
2098                  78M
2099                78.1M
Name: 61, Length: 302, dtype: object
62 country    Georgia
1799         1.07M
1800         1.07M
1801         1.07M
1802         1.07M
            ...
2095          2.6M
2096         2.58M
2097         2.56M
2098         2.54M
2099         2.51M
Name: 62, Length: 302, dtype: object
63 country    Ghana
1799       2.02M
1800       2.02M
1801       2.02M
1802       2.02M
           ...
2095       77.7M
2096       78.1M
2097       78.4M
2098       78.7M
2099         79M
Name: 63, Length: 302, dtype: object
64 country    Guinea
1799         984k
1800         984k
1801         984k
1802         984k
            ...
2095        44.2M
2096        44.5M
2097        44.8M
2098          45M
2099        45.3M
Name: 64, Length: 302, dtype: object
65 country    Gambia
1799         103k
1800         103k
1801         103k
1802         103k
            ...
2095        8.03M
2096        8.07M
2097        8.11M
2098        8.14M
2099        8.18M
Name: 65, Length: 302, dtype: object
66 country    Guinea-Bissau
1799                218k
1800                218k
1801                218k
1802                218k
               ...
2095               5.61M
2096               5.63M
2097               5.66M
2098               5.68M
2099               5.71M
Name: 66, Length: 302, dtype: object
67 country    Equatorial Guinea
1799                   80.4k
1800                   80.4k
1801                   80.4k
1802                   80.4k
                 ...
2095                   4.43M
2096                   4.45M
2097                   4.47M
2098                   4.49M
2099                   4.51M
Name: 67, Length: 302, dtype: object
68 country    Greece
1799        2.25M
1800        2.25M
1801        2.26M
1802        2.26M
            ...
2095        6.71M
2096        6.67M
2097        6.64M
2098        6.61M
2099        6.58M
Name: 68, Length: 302, dtype: object
69 country    Grenada
1799         29.4k
1800         29.4k
1801         29.4k
1802         29.4k
            ...
2095         89.1k
2096         88.4k
2097         87.6k
2098         86.9k
2099         86.2k
Name: 69, Length: 302, dtype: object
70 country    Guatemala
1799            463k
1800            469k
1801            475k
1802            481k
             ...
2095           31.5M
2096           31.4M
2097           31.4M
2098           31.3M
2099           31.3M
Name: 70, Length: 302, dtype: object
71 country    Guyana
1799         166k
1800         166k
1801         166k
1802         166k
            ...
2095         564k
2096         556k
2097         547k
2098         539k
2099         531k
Name: 71, Length: 302, dtype: object
72 country    Hong Kong, China
1799                    20k
1800                    20k
1801                    20k
1802                    20k
                 ...
2095                  7.59M
2096                   7.6M
2097                  7.62M
2098                  7.63M
2099                  7.65M
Name: 72, Length: 302, dtype: object
73 country    Honduras
1799           130k
1800           130k
1801           130k
1802           131k
             ...
2095          14.5M
2096          14.5M
2097          14.4M
2098          14.4M
2099          14.3M
Name: 73, Length: 302, dtype: object
74 country    Holy See
1799            905
1800            905
1801            905
1802            905
             ...
2095            793
2096            796
2097            796
2098            795
2099            797